/*  BACKGROUND CHANGE ANIMATION BACKGROUND CHANGE ANIMATION  */

/* body {
    background: black;
    animation: color-me-in 8s; /
  }
  
  @keyframes color-me-in {
    
    0% {
      background: orange;
    }

    25% {
        background: pink;
    }

    50% {
        background: rgb(94, 80, 226);
    }

    75% {
        background: lime;
    }
    
    100% {
      background: rgb(92, 89, 89);
    }
  } */


  /* INTERPOLATION INTERPOLATION INTERPOLATION INTERPOLATION  */


  /* .move-me {
    display: inline-block;
    padding: 20px;
    color: white;
    position: relative;
    margin: 0 0 10px 0;
  }
  .move-me-1 {
    animation: move-in-steps 8s steps(4) infinite;
  }
  .move-me-2 {
    animation: move-in-steps 8s steps(4, start) infinite;
  }
  .move-me-3 {
    animation: move-in-steps 8s infinite;
  }
  
  body {
    padding: 20px;
  }
  
  @keyframes move-in-steps {
    0% {
      left: 0;
      background: blue;
    }
    100% {
      left: 100%;
      background: red;
    }
  }  */


  /* MULTI-STEP ANIMATIONS 1 MULTI-STEP ANIMATIONS 1 MULTI-STEP ANIMATIONS 1 */

  /* .equilizer {
    height: 100px;
    width: 100px;
    transform: rotate(180deg);
  }
  
  .bar {
    fill: DeepPink;
    width: 18px;
  }
   */

/* MULTI-STEP ANIMATIONS 2 MULTI-STEP ANIMATIONS 2 MULTI-STEP ANIMATIONS 2 */

/* .equilizer {
    height: 100px;
    width: 100px;
    transform: rotate(180deg);
  }
  
  .bar {
    fill: DeepPink;
    width: 18px;
    animation: equalize 1.25s steps(25, end) 0s infinite;
  }
  
  @keyframes equalize {
    0% {
      height: 60px;
    }
    4% {
      height: 50px;
    }
    8% {
      height: 40px;
    }
    12% {
      height: 30px;
    }
    16% {
      height: 20px;
    }
    20% {
      height: 30px;
    }
    24% {
      height: 40px;
    }
    28% {
      height: 10px;
    }
    32% {
      height: 40px;
    }
    36% {
      height: 60px;
    }
    40% {
      height: 20px;
    }
    44% {
      height: 40px;
    }
    48% {
      height: 70px;
    }
    52% {
      height: 30px;
    }
    56% {
      height: 10px;
    }
    60% {
      height: 30px;
    }
    64% {
      height: 50px;
    }
    68% {
      height: 60px;
    }
    72% {
      height: 70px;
    }
    76% {
      height: 80px;
    }
    80% {
      height: 70px;
    }
    84% {
      height: 60px;
    }
    88% {
      height: 50px;
    }
    92% {
      height: 60px;
    }
    96% {
      height: 70px;
    }
    100% {
      height: 80px;
    }
  } */

  /* MULTI-STEP ANIMATIONS 3 MULTI-STEP ANIMATIONS 3 MULTI-STEP ANIMATIONS3 */
  
  .equilizer {
    height: 100px;
    width: 100px;
    transform: rotate(180deg);
  }
  
  .bar {
    fill: DeepPink;
    width: 18px;
    animation: equalize 1.25s steps(25, end) 0s infinite;
  }
  
  .bar:nth-child(1) {
    animation-duration: 1.9s;
  }
  
  .bar:nth-child(2) {
    animation-duration: 2s;
  }
  
  .bar:nth-child(3) {
    animation-duration: 2.3s;
  }
  
  .bar:nth-child(4) {
    animation-duration: 2.4s;
  }
  
  .bar:nth-child(5) {
    animation-duration: 2.1s;
  }
  
  @keyframes equalize {
    0% {
      height: 60px;
    }
    4% {
      height: 50px;
    }
    8% {
      height: 40px;
    }
    12% {
      height: 30px;
    }
    16% {
      height: 20px;
    }
    20% {
      height: 30px;
    }
    24% {
      height: 40px;
    }
    28% {
      height: 10px;
    }
    32% {
      height: 40px;
    }
    36% {
      height: 60px;
    }
    40% {
      height: 20px;
    }
    44% {
      height: 40px;
    }
    48% {
      height: 70px;
    }
    52% {
      height: 30px;
    }
    56% {
      height: 10px;
    }
    60% {
      height: 30px;
    }
    64% {
      height: 50px;
    }
    68% {
      height: 60px;
    }
    72% {
      height: 70px;
    }
    76% {
      height: 80px;
    }
    80% {
      height: 70px;
    }
    84% {
      height: 60px;
    }
    88% {
      height: 50px;
    }
    92% {
      height: 60px;
    }
    96% {
      height: 70px;
    }
    100% {
      height: 80px;
    }
  }
  

  body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  